/*----------------ESTILIZAÇÃO GERAL DA PÁGINA----------------*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/*----------------CABEÇALHO----------------*/

header {
    height: 10vh;
    width: 100%;
    background-color: #C23949;
}

.container-header {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*----------------CABEÇALHO LOGO----------------*/

header a:first-of-type {
    width: fit-content;
    height: fit-content;
}

header img {
    width: 4.5em;
    height: 100%;
}

/*----------------CABEÇALHO MENU----------------*/

nav {
    display: inline-block;
}

nav > a {
    text-decoration: none;
    color:#ffffff;
    margin-left: 1rem;
}

nav > a:hover {
    color: #25283d;
}

nav > a:active {
    color: #C23949;
}

section{
    width: 100%;
    height: 100%;
}

/*----------------CONTEUDO DA PÁGINA----------------*/

section h1 {
    text-align: center;
    margin-top: 3em;
    font-size: 22pt;
}

.container-promocoes {
    width: 60%;
    margin: 0 auto;
    height: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
    padding: 5em 0;
}

.container-promocoes div {
    border: 3px solid white;
}

.container-promocoes img {
    width: 100%;
    height: 100%;
}

.container-promocoes div:nth-of-type(1){
    grid-column: 1 / span 3;
    grid-row:1 / span 3;
}

.container-promocoes div:nth-of-type(2){
    grid-column: span 2;
    grid-row: span 2;
}

.container-promocoes div:nth-of-type(3){
    grid-column: 1 / span 2;
    grid-row: 4 / span 3;
}

.container-promocoes div:nth-of-type(4){
    grid-column: 3 / span 1;
    grid-row: 4 / span 1;
}

.container-promocoes div:nth-of-type(5){
    grid-column: 4 / span 2;
    grid-row: 3 / span 2;
}

.container-promocoes div:nth-of-type(6){
    grid-column: 3 / span 3;
    grid-row: 5 / span 2;
}

/*----------------RODAPÉ----------------*/

.container-footer {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

footer {
    background-color: #25283d;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
}

footer h2 {
    color: #ffffff;
    margin-bottom: 1em;
}

.container-footer > img {
    width: 7em;
    height: 7em;
    padding: 2em 0;
}

footer ul a {
    text-decoration: none;
    width: fit-content;
    height: fit-content;
}

footer ul li {
    display: inline;
    margin: 0 2em;
}

footer ul li img {
    width: 2.5em;
    height: 2.5em;
    margin: 1.5em 0;
}