/*Estilização Geral da Página*/
/* --- Cola de Cores --- 
    Primaria: Normal #c23949 | Light #fa6b74 | Dark #8c0022
    Secundaria: Normal #25283d | Light #4e5068 | Dark #000018
*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 980px;
    margin: 0 auto;
    height: 100%;
}

header {
    height: 10vh;
    width: 100%;
    background-color: #C23949;
    display: flex;
    justify-content: space-evenly;
}

header img {
    width: auto;
    height: 100%;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: ;
}

/*----------------CONTEUDO 1----------------*/
.container-conteudo{
    background-color: #fa6b74;
    display: flex;
    justify-content: space-between;
}

.container-conteudo img{
    width: 50%;
}

.container-conteudo h1{
    align-self: center;
}